@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font: Roboto Condensed;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
    text-shadow: #020819 8px -20px 9px;
    color: snow;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar  {
    background-color: rgb(17, 17, 48);
    color: white;
}

.nav-bar a {
    font-size: 2em;
    text-decoration: none;
    color: white;
}

.quote {
    font-size: 2.5em;
    position: absolute;
    left: 10%;
    bottom: 100px;
}

.header {
    background-image: url(/Images/ironhack-skydive-background.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
}

.dark-background {
    background-color: rgb(17, 17, 48);
    color: whitesmoke;
    font-size: 2em;
    font-weight: 100;
    text-align: center;
}

.link-btn {
    background-color: thistle;
    color: whitesmoke;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.service-box {
    font-size: 1.7 em;
    text-align: center;
/*
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 40%;
*/
}

.service-box img{
    width: 125px;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px;
}

.footer {
    text-align: center;
    font-size: 1.9em;
}

.address {
    font-style: normal;
    font-size: 0.8em;
}

.footer a {
    color: rgb(67 , 163 , 230);
    text-decoration: none;
}

.footer ul {
    list-style: none;
}